In [1]:
!pip install yfinance
!pip install ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.14)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ta in /usr/local/lib/python3.9/dist-packages (0.10.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from ta) (1.4.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from ta) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)

In [2]:
import pandas as pd, numpy as np
import yfinance as yf

from copy import copy
import statistics as stats
import math
from functools import reduce

from ta.volume import MFIIndicator
from ta.volatility import AverageTrueRange
from ta.trend import STCIndicator
from ta.trend import EMAIndicator

# Import des donn√©es historiques

In [3]:
ndx = yf.Ticker("^NDX")
df_historical_data = ndx.history(interval="1d", period="max")
df_historical_data.drop(columns=["Dividends","Stock Splits"], inplace=True)
df_historical_data.reset_index(inplace=True)

In [4]:
df_historical_data.describe()

               Open          High           Low         Close        Volume
count   9456.000000   9456.000000   9456.000000   9456.000000  9.456000e+03
mean    2916.812770   2941.239405   2890.880823   2917.419506  1.606857e+09
std     3538.196139   3565.912652   3507.747678   3538.735474  1.285569e+09
min      107.160004    108.269997    106.750000    107.160004  3.174000e+07
25%      419.057510    420.962509    416.447495    420.242508  4.714450e+08
50%     1635.119995   1654.130005   1620.515015   1634.825012  1.663815e+09
75%     3700.049988   3737.600098   3647.292480   3694.502502  2.067190e+09
max    16644.769531  16764.859375  16523.830078  16573.339844  1.162119e+10

In [5]:
# Test si aucune ligne manquante
test_list = [champ == 0 for champ in df_historical_data.isnull().sum()]

# Si toutes les colonnes sont True, r√©sultat = True
res1 = all(i for i in test_list)
res1

True

In [6]:
df_historical_data.tail(1)

,Date,Open,High,Low,Close,Volume
9455,2023-04-06 00:00:00-04:00,12892.900391,13078.099609,12846.030273,13062.599609,3862800000

In [7]:
df_historical_data.dtypes

Date      datetime64[ns, America/New_York]
Open                               float64
High                               float64
Low                                float64
Close                              float64
Volume                               int64
dtype: object

# Indicateurs techniques

### Alphatrend

In [8]:
# Trend indicator, √©quivalent de l'affichage couleur
def trend_indicator(trend):
    if trend > 0 :
        # Uptrend
        x = 1
    elif trend < 0 :
        # Downtrend
        x = -1
    else :
        # Range
        x = 0
    return x

In [9]:
# Defintion fonction
def generate_alphatrend(df_in, mfi_p, mfi_seuil, atr_l, m):
    '''Param√®tres d'entr√©e : longueur MFI, longueur ATR, multiplier
    Retourne les colonnes Alphatrend, Alphatrend +2, Trend (position AT1 / AT2)
    :mfi_p = p√©riode MFI servant √† d√©limiter up/down de l'alphatrend
    :mfi_seuil = p√©riode MFI pour recherche crossover, d√©termine uptrend ou downtrend'''

    df = df_in.copy()

    # Colonnes MFI
    s_mfi = MFIIndicator(high=df.High, low=df.Low, close=df.Close, volume=df.Volume, window=mfi_p).money_flow_index()
    df["MFI_ref"] = s_mfi

    # Colonne ATR
    s_atr = AverageTrueRange(high=df.High, low=df.Low, close=df.Close, window=atr_l).average_true_range()
    df["ATR"] = s_atr

    # Lignes UpT et DownT
    df["UpT_support"] = df["Low"] - df["ATR"] * m
    df["DownT_support"] = df["High"] + df["ATR"] * m

    # Suppression des lignes sans signal, en d√©but de DataFrame
    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)

    # ===============================================
    # Calcul Alphatrend, en tant que s√©rie
    
    Alphatrend = [0]

    for i in range (1, df.shape[0]):
        # Cas Uptrend
        if df.at[i,"MFI_ref"] >= mfi_seuil :
            if df.at[i,"UpT_support"] < Alphatrend[-1] :
                # Flat
                Alphatrend.append(Alphatrend[-1])
            else :
                # Trailing stop loss Up
                Alphatrend.append(df.at[i,"UpT_support"])

        # Cas Downtrend, MFI < 50
        else :
            if df.at[i,"DownT_support"] > Alphatrend[-1] :
                # Flat
                Alphatrend.append(Alphatrend[-1])
            else :
                # Trailing stop loss Down
                Alphatrend.append(df.at[i,"DownT_support"])

    # ===============================================
    # Ajout des lignes k1 et k2 en tant que colonnes
    
    if df.shape[0] == len(Alphatrend):
        df["Alphatrend_k1"] = pd.Series(Alphatrend).apply(lambda x: round(x,2))
        # Ligne k2 d√©cal√©e de 2j
        Alphatrend2 = df["Alphatrend_k1"].shift(periods=2, fill_value=0)
        df["Alphatrend_k2"] = pd.Series(Alphatrend2).apply(lambda x: round(x,2))
        # Trend
        df["Trend"] = df.Alphatrend_k1 - df.Alphatrend_k2
        df["Trend"] = df["Trend"].apply(trend_indicator)
    else :
        print("Erreur lors de la g√©n√©ration des lignes Alphatrend")

    # ===============================================
    # G√©n√©ration des signaux Achat / Vente

    # On isole tous les index non neutres, o√π AT1 != AT2, √† la hausse (1) comme √† la baisse (-1)
    s_trend = df["Trend"].loc[df["Trend"]!=0]
    s_trend_diff = s_trend - s_trend.shift(1)

    buy_signal_indexes = s_trend_diff[s_trend_diff == 2].index
    sell_signal_indexes = s_trend_diff[s_trend_diff == -2].index

    df["Signal"] = 0
    df.loc[buy_signal_indexes,"Signal"] = 1
    df.loc[sell_signal_indexes,"Signal"] = -1

    # ===============================================
    # Sp√©cification des colonnes avec les param√®tres d'entr√©e
    params = "MFIp = " + str(mfi_p) + ", MFItrigger = " + str(mfi_seuil) + ", ATR = " + str(atr_l) + ", m = " + str(m)
    # S√©lection des colonnes suffisantes
    df = df[["Date","Alphatrend_k1","Alphatrend_k2","Trend","Signal"]]
    
    return df, params

In [10]:
df_AT, parametres_AT = generate_alphatrend(df_historical_data, mfi_p=14, mfi_seuil=50, atr_l=14, m=1.6)

In [11]:
# Servira √† stocker les param√®tres test√©s pour identifier la meilleure combinaison
print(parametres_AT)

MFIp = 14, MFItrigger = 50, ATR = 14, m = 1.6

In [12]:
df_AT.tail(1)

                          Date  Alphatrend_k1  Alphatrend_k2  Trend  Signal
9442 2023-04-06 00:00:00-04:00       12689.67       12689.67      0       0

### STC & EMA

In [13]:
def generate_STC_and_EMA(df_in, stc_length, fast_length, slow_length, ema_period):
  
  df = df_in[["Date","Close"]].copy()

  s_stc = STCIndicator(close=df.Close, window_slow=slow_length, window_fast=fast_length, cycle=stc_length).stc()
  s_ema = EMAIndicator(close=df.Close, window=ema_period).ema_indicator()

  df["STC"] = round(s_stc,2)
  df["EMA"] = round(s_ema,2)

  params = "STC Length = " + str(stc_length) + ", Fast Length = " + str(fast_length) + ", Slow Length = " + str(slow_length) + ", EMA length = " + str(ema_period)

  df.drop(columns=["Close"], inplace=True)

  return df, params

In [14]:
df_STC_EMA, params_STC_EMA = generate_STC_and_EMA(df_historical_data, stc_length=80, fast_length=27, slow_length=50, ema_period=200)

In [15]:
# Servira √† stocker les param√®tres test√©s pour identifier la meilleure combinaison
print(params_STC_EMA)

STC Length = 80, Fast Length = 27, Slow Length = 50, EMA length = 200

In [16]:
df_STC_EMA.tail(1)

                          Date    STC       EMA
9455 2023-04-06 00:00:00-04:00  93.05  12261.45

### Merge et export du Dataset contenant l'ensemble des indicateurs techniques

In [17]:
df_essentials = df_historical_data[["Date","Close"]].copy()
df_essentials["Close"] = df_essentials.Close.apply(lambda x: round(x,2))

In [18]:
data_frames = [df_essentials, df_AT, df_STC_EMA]
df_IT = reduce(lambda  left,right: pd.merge(left,right, on=['Date'], how='left'), data_frames)

In [19]:
df_IT = df_IT.loc[df_IT["Date"]>"1998-01-01"]

In [20]:
df_IT.head(1)

,Date,Close,Alphatrend_k1,Alphatrend_k2,Trend,Signal,STC,EMA
3099,1998-01-02 00:00:00-05:00,1008.23,995.16,995.16,0.0,0.0,5.72,998.3

In [21]:
df_IT["Trend"].value_counts()

 0.0    4116
 1.0    1605
-1.0     636
Name: Trend, dtype: int64

In [22]:
df_IT.reset_index(drop=True,inplace=True)

In [23]:
# Test si aucune ligne manquante
test_list = [champ == 0 for champ in df_historical_data.isnull().sum()]
test_list2 = [champ == 0 for champ in df_historical_data.isna().sum()]

# Si toutes les colonnes sont True, r√©sultat = True
res1 = all(i for i in test_list)
res2 = all(i for i in test_list2)

if res1 and res2 :
  print("Ok pour Backtesting")
else :
  print("Anomalies d√©tect√©es")

Ok pour Backtesting

In [24]:
# Export
# df_IT.to_csv("/content/drive/MyDrive/Colab Notebooks/sources/TradingView_strategies/AT_STC_EMA_indicateurs.csv", header=True, index=False)

# Backtesting

## D√©tection des entr√©es

Strat√©gie :<br>
<li>Entre√©e : Buy signal + Prix > EMA (200) + STC < seuil(25)</li>
<li>Sortie : Sell signal + Prix < EMA (200) + STC > seuil(75)</li>

In [63]:
stc_seuil_bas = 25
# Valeur 3 pour signaux d'entr√©e valides
df_IT["Buy_entry"] = np.sign(df_IT.Close-df_IT.EMA) + df_IT.Signal + np.sign(stc_seuil_bas-df_IT.STC)

stc_seuil_haut = 75
# Valeur -3 pour signaux d'entr√©e valides
# Attention / par deux signaux n√©gatifs -> positif, d'o√π l'inversion sur un seul champ
df_IT["Sell_entry"] = np.sign(df_IT.Close-df_IT.EMA) + df_IT.Signal + np.sign(stc_seuil_haut-df_IT.STC)

In [64]:
# Conversion en np array
arr_buy_entry = df_IT["Buy_entry"].to_numpy()
# np.where(condition, vrai, sinon)
df_IT["Buy_entry"] = np.where(arr_buy_entry==3, 1, 0)

arr_sell_entry = df_IT["Sell_entry"].to_numpy()
df_IT["Sell_entry"] = np.where(arr_sell_entry==-3.0, -1, 0)

In [65]:
'''Agr√©gation dans une seule colonne "Entr√©es"
1 pour Buy -1 pour Sell
Ne sera peut-√™tre pas conserv√© si param√®tres diff√©rents entre Strat√©gie Short ou Long.
Il ne sera pas possible de g√©n√©rer les deux en m√™me temps'''
df_IT["Entry"] = df_IT["Sell_entry"] + df_IT["Buy_entry"]
df_IT["Entry"].value_counts()

 0    6322
 1      27
-1       8
Name: Entry, dtype: int64

In [66]:
df_IT.drop(columns=["Buy_entry","Sell_entry"], inplace=True)
df_IT.tail(1)

,Date,Close,Alphatrend_k1,Alphatrend_k2,Trend,Signal,STC,EMA,Entry
6356,2023-04-06 00:00:00-04:00,13062.6,12689.67,12689.67,0.0,0.0,93.05,12261.45,0

In [60]:
df_IT.loc[ df_IT["Entry"]==1 ].index

Int64Index([ 119,  204,  311, 1307, 1572, 1972, 2077, 2431, 3160, 3349, 3396,
            3649, 3751, 3904, 4055, 4231, 4658, 4766, 4917, 5069, 5122, 5397,
            5605, 5732, 5853, 5898, 5993],
           dtype='int64')

In [83]:
''' Isolement sous forme de s√©rie du lendemain de l'index d√©tect√© pour l'entr√©e.
Ici dans un range de +10j.
On en extrait la date, la variation min & max sur la p√©riode (sans pr√©ciser quand ils ont √©t√© atteints)'''
serie_10j = df_IT["Close"].iloc[120:130]
print("entr√©e √† : {}, le {}".format(serie_10j[120], df_IT["Date"].iloc[120].strftime("%d/%m/%Y")) )
print("max : {}, soit Perf de {:.2f}%".format(serie_10j.max(), ((serie_10j.max()-serie_10j[120])/serie_10j[120])*100 ) )
print("max : ", serie_10j.min())

entr√©e √† : 1311.4, le 25/06/1998
max : 1383.22, soit Perf de 5.48%
max :  1311.4