In [1]:
import pandas as pd, numpy as np

# Chargement des sources
uploadées sur google drive

In [2]:
%ls

drive/  sample_data/

In [5]:
%cd /content/drive/MyDrive/Colab Notebooks/sources/TradingView_strategies/
%ls

/content/drive/MyDrive/Colab Notebooks/sources/TradingView_strategies
'max_Net Profit_1997-2012.csv'   min_Drawdown_1998-2012.csv
'max_Net Profit_1997-2023.csv'   min_Drawdown_1998-2023.csv
'max_Net Profit_2006-2020.csv'   min_Drawdown_2006-2023.csv

In [34]:
sources = ['max_Net_Profit_1997-2012.csv','min_Drawdown_1998-2012.csv',
'max_Net_Profit_1997-2023.csv','min_Drawdown_1998-2023.csv',
'max_Net_Profit_2006-2020.csv','min_Drawdown_2006-2023.csv']
print(sources)

['max_Net_Profit_1997-2012.csv', 'min_Drawdown_1998-2012.csv', 'max_Net_Profit_1997-2023.csv', 'min_Drawdown_1998-2023.csv', 'max_Net_Profit_2006-2020.csv', 'min_Drawdown_2006-2023.csv']

In [35]:
path = '/content/drive/MyDrive/Colab Notebooks/sources/TradingView_strategies/'
df_all_tests = pd.read_csv(path+sources[0])

In [36]:
# Ajout de la colonne portant le nom du fichier, pour préciser le contexte des résultats obtenus
nom_test = str.split(sources[0],'.')
df_all_tests["Test"] = nom_test[0]

In [37]:
df_all_tests.head(1)

,Net Profit: All,Net Profit %: All,Net Profit: Long,Net Profit %: Long,Net Profit: Short,Net Profit %: Short,Gross Profit: All,Gross Profit %: All,Gross Profit: Long,Gross Profit %: Long,...,__Lower limit,__Highlight Breakouts ?,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",__Show Signals?,__Change calculation (no volume data)?,comment,Test
0,4134.14,413.41,2998.8,299.88,1135.34,113.53,5941.97,594.2,4636.23,463.62,...,25.0,0.0,19.0,1.0,3.5,5.0,True,True,Best value parameters.,max_Net_Profit_1997-2012

In [38]:
for i in range (1,len(sources)):
  
  df_concat = pd.read_csv(path+sources[i])

  # Ajout de la colonne portant le nom du fichier, pour préciser le contexte des résultats obtenus
  nom_test = str.split(sources[i],'.')
  # On conserve du split uniquement le 1er élement, c'est à dire le nom du fichier
  df_concat["Test"] = nom_test[0]

  df_all_tests = pd.concat([df_all_tests,df_concat])

In [39]:
print("Nombre de tests réalisés au total : ",df_all_tests.shape[0])

Nombre de tests réalisés au total :  4392

# Exploitation des résultats

In [42]:
all_cols = df_all_tests.columns.to_list()
all_cols

['Net Profit: All',
 'Net Profit %: All',
 'Net Profit: Long',
 'Net Profit %: Long',
 'Net Profit: Short',
 'Net Profit %: Short',
 'Gross Profit: All',
 'Gross Profit %: All',
 'Gross Profit: Long',
 'Gross Profit %: Long',
 'Gross Profit: Short',
 'Gross Profit %: Short',
 'Gross Loss: All',
 'Gross Loss %: All',
 'Gross Loss: Long',
 'Gross Loss %: Long',
 'Gross Loss: Short',
 'Gross Loss %: Short',
 'Max Run-up',
 'Max Run-up %',
 'Max Drawdown',
 'Max Drawdown %',
 'Buy & Hold Return',
 'Buy & Hold Return %',
 'Sharpe Ratio',
 'Sortino Ratio',
 'Profit Factor: All',
 'Profit Factor: Long',
 'Profit Factor: Short',
 'Max Contracts Held: All',
 'Max Contracts Held: Long',
 'Max Contracts Held: Short',
 'Open PL',
 'Open PL %',
 'Commission Paid: All',
 'Commission Paid: Long',
 'Commission Paid: Short',
 'Total Closed Trades: All',
 'Total Closed Trades: Long',
 'Total Closed Trades: Short',
 'Total Open Trades: All',
 'Total Open Trades: Long',
 'Total Open Trades: Short',
 'Number Winning Trades: All',
 'Number Winning Trades: Long',
 'Number Winning Trades: Short',
 'Number Losing Trades: All',
 'Number Losing Trades: Long',
 'Number Losing Trades: Short',
 'Percent Profitable: All',
 'Percent Profitable: Long',
 'Percent Profitable: Short',
 'Avg Trade: All',
 'Avg Trade %: All',
 'Avg Trade: Long',
 'Avg Trade %: Long',
 'Avg Trade: Short',
 'Avg Trade %: Short',
 'Avg Winning Trade: All',
 'Avg Winning Trade %: All',
 'Avg Winning Trade: Long',
 'Avg Winning Trade %: Long',
 'Avg Winning Trade: Short',
 'Avg Winning Trade %: Short',
 'Avg Losing Trade: All',
 'Avg Losing Trade %: All',
 'Avg Losing Trade: Long',
 'Avg Losing Trade %: Long',
 'Avg Losing Trade: Short',
 'Avg Losing Trade %: Short',
 'Ratio Avg Win / Avg Loss: All',
 'Ratio Avg Win / Avg Loss: Long',
 'Ratio Avg Win / Avg Loss: Short',
 'Largest Winning Trade: All',
 'Largest Winning Trade %: All',
 'Largest Winning Trade: Long',
 'Largest Winning Trade %: Long',
 'Largest Winning Trade: Short',
 'Largest Winning Trade %: Short',
 'Largest Losing Trade: All',
 'Largest Losing Trade %: All',
 'Largest Losing Trade: Long',
 'Largest Losing Trade %: Long',
 'Largest Losing Trade: Short',
 'Largest Losing Trade %: Short',
 'Avg # Bars in Trades: All',
 'Avg # Bars in Trades: Long',
 'Avg # Bars in Trades: Short',
 'Avg # Bars in Winning Trades: All',
 'Avg # Bars in Winning Trades: Long',
 'Avg # Bars in Winning Trades: Short',
 'Avg # Bars in Losing Trades: All',
 'Avg # Bars in Losing Trades: Long',
 'Avg # Bars in Losing Trades: Short',
 'Margin Calls: All',
 'Margin Calls: Long',
 'Margin Calls: Short',
 '__Moyenne Mobile Exponentielle',
 '__STC length',
 '__Fast length',
 '__Slow length',
 '__Upper limit',
 '__Lower limit',
 '__Highlight Breakouts ?',
 '__AlphaTrend Period',
 '__AlphaTrend Multiplier',
 '__ATR Stop Loss coefficient',
 '__Ratio TP:SL, soit 1:x',
 '__Show Signals?',
 '__Change calculation (no volume data)?',
 'comment',
 'Test']

In [47]:
short_cols_selection = [
'Net Profit %: All',
'Max Drawdown %',
'Profit Factor: All',
'Sortino Ratio',
'__Moyenne Mobile Exponentielle',
'__STC length',
'__Fast length',
'__Slow length',
'__AlphaTrend Period',
'__AlphaTrend Multiplier',
'__ATR Stop Loss coefficient',
'__Ratio TP:SL, soit 1:x',
'Test']

In [58]:
df_light_all_tests = df_all_tests[short_cols_selection]
df_light_all_tests.reset_index(drop=True, inplace=True)

In [83]:
# Ne conserve que les n premières lignes /catégories
indexes = df_light_all_tests.groupby(by=["Test"])["Net Profit %: All"].nlargest(1)

# Transforme la serie avec multi index en DataFrame
df_indexes = indexes.index.to_frame()

df_indexes.reset_index(drop=True, inplace=True)
df_indexes.columns=["Test","Index_best"]

In [86]:
best_rows = df_indexes["Index_best"]
print(best_rows)

0      25
1    1627
2    3306
3     513
4    2464
5    3582
Name: Index_best, dtype: int64

In [89]:
df_best_net_profit = df_light_all_tests.iloc[best_rows]
df_best_net_profit

,Net Profit %: All,Max Drawdown %,Profit Factor: All,Sortino Ratio,__Moyenne Mobile Exponentielle,__STC length,__Fast length,__Slow length,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",Test
25,548.27,22.69,4.08,0.58,195.0,90.0,30.0,50.0,7.0,1.0,3.5,5.0,max_Net_Profit_1997-2012
1627,1788.83,25.69,5.72,0.60,195.0,80.0,30.0,50.0,19.0,1.0,3.5,5.0,max_Net_Profit_1997-2023
3306,1450.67,17.03,13.04,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.5,5.0,max_Net_Profit_2006-2020
513,250.92,48.89,1.76,0.26,200.0,80.0,27.0,50.0,14.0,1.0,3.5,3.0,min_Drawdown_1998-2012
2464,1867.87,20.41,9.01,1.09,200.0,80.0,27.0,50.0,14.0,1.6,3.0,6.0,min_Drawdown_1998-2023
3582,552.55,12.62,9.41,1.41,200.0,80.0,32.0,50.0,12.0,2.0,4.5,6.0,min_Drawdown_2006-2023

Meilleurs (plus faibles) Drawdonws

In [93]:
# Attention : nsmallest pour Max Drawdown
indexes = df_light_all_tests.groupby(by=["Test"])["Max Drawdown %"].nsmallest(1)

# Transforme la serie avec multi index en DataFrame
df_indexes = indexes.index.to_frame()

df_indexes.reset_index(drop=True, inplace=True)
df_indexes.columns=["Test","Index_best"]

# Index des meilleurs lignes retenues
best_rows = df_indexes["Index_best"]

In [94]:
df_best_lowest_drawdown = df_light_all_tests.iloc[best_rows]
df_best_lowest_drawdown

,Net Profit %: All,Max Drawdown %,Profit Factor: All,Sortino Ratio,__Moyenne Mobile Exponentielle,__STC length,__Fast length,__Slow length,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",Test
413,154.18,19.55,1.62,0.29,195.0,90.0,30.0,50.0,7.0,1.0,2.0,5.0,max_Net_Profit_1997-2012
1575,1019.69,20.41,5.45,0.85,195.0,80.0,30.0,50.0,21.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
3319,1233.95,15.92,11.68,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.0,5.0,max_Net_Profit_2006-2020
484,102.09,16.16,2.35,0.35,200.0,80.0,27.0,50.0,14.0,2.0,2.0,3.0,min_Drawdown_1998-2012
2514,1487.76,8.52,11.48,1.43,200.0,78.0,26.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
3565,157.69,7.34,3.78,0.79,200.0,80.0,32.0,50.0,12.0,2.0,1.0,6.0,min_Drawdown_2006-2023

Meilleurs Sortino Ratio

In [95]:
# Attention : nsmallest pour Max Drawdown
indexes = df_light_all_tests.groupby(by=["Test"])["Sortino Ratio"].nlargest(1)

# Transforme la serie avec multi index en DataFrame
df_indexes = indexes.index.to_frame()

df_indexes.reset_index(drop=True, inplace=True)
df_indexes.columns=["Test","Index_best"]

# Index des meilleurs lignes retenues
best_rows = df_indexes["Index_best"]

In [96]:
df_best_SortinoR = df_light_all_tests.iloc[best_rows]
df_best_SortinoR

,Net Profit %: All,Max Drawdown %,Profit Factor: All,Sortino Ratio,__Moyenne Mobile Exponentielle,__STC length,__Fast length,__Slow length,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",Test
35,286.00,33.58,4.98,0.90,195.0,90.0,30.0,50.0,7.0,2.0,3.5,5.0,max_Net_Profit_1997-2012
1575,1019.69,20.41,5.45,0.85,195.0,80.0,30.0,50.0,21.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
3279,1391.43,18.55,9.60,1.34,195.0,100.0,22.0,70.0,36.0,1.4,3.5,5.0,max_Net_Profit_2006-2020
487,170.99,24.05,2.12,0.42,200.0,80.0,27.0,50.0,14.0,1.6,2.0,3.0,min_Drawdown_1998-2012
2547,1495.82,8.52,12.60,1.46,216.0,78.0,26.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
3542,458.81,9.84,8.94,1.49,200.0,80.0,32.0,50.0,12.0,2.0,3.5,6.0,min_Drawdown_2006-2023

Meilleurs Profit Factors

In [97]:
# Attention : nsmallest pour Max Drawdown
indexes = df_light_all_tests.groupby(by=["Test"])["Profit Factor: All"].nlargest(1)

# Transforme la serie avec multi index en DataFrame
df_indexes = indexes.index.to_frame()

df_indexes.reset_index(drop=True, inplace=True)
df_indexes.columns=["Test","Index_best"]

# Index des meilleurs lignes retenues
best_rows = df_indexes["Index_best"]

In [98]:
df_best_Profit_Factor = df_light_all_tests.iloc[best_rows]
df_best_Profit_Factor

,Net Profit %: All,Max Drawdown %,Profit Factor: All,Sortino Ratio,__Moyenne Mobile Exponentielle,__STC length,__Fast length,__Slow length,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",Test
12,277.48,38.83,5.17,0.81,195.0,80.0,30.0,50.0,11.0,2.0,3.5,5.0,max_Net_Profit_1997-2012
1636,1019.71,33.05,6.72,0.82,195.0,80.0,30.0,50.0,19.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
3306,1450.67,17.03,13.04,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.5,5.0,max_Net_Profit_2006-2020
484,102.09,16.16,2.35,0.35,200.0,80.0,27.0,50.0,14.0,2.0,2.0,3.0,min_Drawdown_1998-2012
2769,850.97,33.25,20.79,0.96,200.0,78.0,10.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
3495,503.75,13.37,10.88,1.24,200.0,80.0,32.0,50.0,8.0,2.0,4.5,5.5,min_Drawdown_2006-2023

In [103]:
df_best_aggregate = pd.concat([df_best_lowest_drawdown,df_best_net_profit,df_best_SortinoR,df_best_Profit_Factor])
df_best_aggregate.sort_values(by=["Test", "Profit Factor: All"], ascending=[True,False],inplace=True)
df_best_aggregate.reset_index(drop=True, inplace=True)
df_best_aggregate

,Net Profit %: All,Max Drawdown %,Profit Factor: All,Sortino Ratio,__Moyenne Mobile Exponentielle,__STC length,__Fast length,__Slow length,__AlphaTrend Period,__AlphaTrend Multiplier,__ATR Stop Loss coefficient,"__Ratio TP:SL, soit 1:x",Test
0,277.48,38.83,5.17,0.81,195.0,80.0,30.0,50.0,11.0,2.0,3.5,5.0,max_Net_Profit_1997-2012
1,286.00,33.58,4.98,0.90,195.0,90.0,30.0,50.0,7.0,2.0,3.5,5.0,max_Net_Profit_1997-2012
2,548.27,22.69,4.08,0.58,195.0,90.0,30.0,50.0,7.0,1.0,3.5,5.0,max_Net_Profit_1997-2012
3,154.18,19.55,1.62,0.29,195.0,90.0,30.0,50.0,7.0,1.0,2.0,5.0,max_Net_Profit_1997-2012
4,1019.71,33.05,6.72,0.82,195.0,80.0,30.0,50.0,19.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
5,1788.83,25.69,5.72,0.60,195.0,80.0,30.0,50.0,19.0,1.0,3.5,5.0,max_Net_Profit_1997-2023
6,1019.69,20.41,5.45,0.85,195.0,80.0,30.0,50.0,21.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
7,1019.69,20.41,5.45,0.85,195.0,80.0,30.0,50.0,21.0,2.0,3.5,5.0,max_Net_Profit_1997-2023
8,1450.67,17.03,13.04,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.5,5.0,max_Net_Profit_2006-2020
9,1450.67,17.03,13.04,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.5,5.0,max_Net_Profit_2006-2020
10,1233.95,15.92,11.68,1.28,195.0,100.0,22.0,70.0,32.0,1.0,3.0,5.0,max_Net_Profit_2006-2020
11,1391.43,18.55,9.60,1.34,195.0,100.0,22.0,70.0,36.0,1.4,3.5,5.0,max_Net_Profit_2006-2020
12,102.09,16.16,2.35,0.35,200.0,80.0,27.0,50.0,14.0,2.0,2.0,3.0,min_Drawdown_1998-2012
13,102.09,16.16,2.35,0.35,200.0,80.0,27.0,50.0,14.0,2.0,2.0,3.0,min_Drawdown_1998-2012
14,170.99,24.05,2.12,0.42,200.0,80.0,27.0,50.0,14.0,1.6,2.0,3.0,min_Drawdown_1998-2012
15,250.92,48.89,1.76,0.26,200.0,80.0,27.0,50.0,14.0,1.0,3.5,3.0,min_Drawdown_1998-2012
16,850.97,33.25,20.79,0.96,200.0,78.0,10.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
17,1495.82,8.52,12.60,1.46,216.0,78.0,26.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
18,1487.76,8.52,11.48,1.43,200.0,78.0,26.0,50.0,20.0,1.8,3.0,6.0,min_Drawdown_1998-2023
19,1867.87,20.41,9.01,1.09,200.0,80.0,27.0,50.0,14.0,1.6,3.0,6.0,min_Drawdown_1998-2023
20,503.75,13.37,10.88,1.24,200.0,80.0,32.0,50.0,8.0,2.0,4.5,5.5,min_Drawdown_2006-2023
21,552.55,12.62,9.41,1.41,200.0,80.0,32.0,50.0,12.0,2.0,4.5,6.0,min_Drawdown_2006-2023
22,458.81,9.84,8.94,1.49,200.0,80.0,32.0,50.0,12.0,2.0,3.5,6.0,min_Drawdown_2006-2023
23,157.69,7.34,3.78,0.79,200.0,80.0,32.0,50.0,12.0,2.0,1.0,6.0,min_Drawdown_2006-2023

In [104]:
df_best_aggregate.to_excel(path+"best_aggregate_20230325.xlsx", header=True, index=False)